@model IEnumerable<FinalVidly.Models.Customer>
@{
    ViewBag.Title = "Inex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
@if (!Model.Any())
{
    <text>we dont have any customers yet</text>
}
else 
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details" ,"customers", new { id=customer.Id}, null) </td>
                <td>@customer.MemberShipType.DiscountRate</td>
            </tr>
        }
    </tbody>
</table>
}